*{
	margin: 0;
 	padding:0;
 }
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
 
 
.articleBg{
	background-color:#F1F1F1;
}
.articleBg a{
	text-decoration: none;
	color: #27303F;
}
.articleMain{
	width: 1208px;
	margin: 20px auto;
}
.articleConter-left ul li{
	list-style: none;
	width: 800px;
	position: relative;
	margin-bottom: 40px;
}
.arList{
	padding: 15px;
}
.articleConter-left{
	float: left;
}
.articleConter-right{
	float: right;
}
.articleConter-right ul{
	border-bottom: 1px solid #CCC;
}
.articleConter-right ul:last-child{
	border: none;
}
.articleConter-right ul li{
	list-style: none;
	width: 270px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding-left:20px;
	padding-right: 10px;
}
.articleConter-left,.articleConter-right{
	display: inline-block;
	/*background-color: #FFFFFF;*/
}
img.articleList-left{
	width: 240px;
	height: 150;
}
.articleList-right{
	position: absolute;
	top:65px;
	left: 260px;
	display: inline-block;
	margin-left:10px;
	width: 480px;
	height: 150px;
}
.articleList h2{
	height: 50px;
	line-height: 50px;
}
.articleList h2 a{
	font-size: 18px;
	color: #27303F;
}
.articleList h2 a:hover{
	color: #2C6578;
}
.articleList-right p{
	width:470px;
	line-height: 24px;
	font-size: 14px;
	color:#344157;	
	/*单行溢出省略号*/
	/*white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;	*/
}
.articleList-right a{
	display: inline-block;
	float: right;
	margin-right: 30px;
	text-decoration: none;
	color:#202833;
	font-size:16px;
	width: 90px;
	height:28px;
	line-height: 28px;
	text-align: center;
	background-color: #2c6578;
	color: #FFFFFF;
	position: absolute;
	right:1px;
	bottom: 5px;
	border-radius: 8px;
}
.articleList-right a:hover{
/*	border: 1px solid #61789E;*/
	background-color: #449DBA;
}
.articleList-bottom{
	margin-top: 10px;
}
.articleList-bottom span{
	font-size: 12px;
	color: #666666;
	margin-right: 16px;
}

.articleList-center{
	width: 735px;
}
.articleList-center p{
	width:730px;
	line-height: 24px;
	font-size: 14px;
	color:#344157;
}
.articleList-center p a{
	display: inline-block;
	text-decoration: none;
	width: 100px;
	height: 28px;
	line-height: 28px;
	margin-left: 20px;
}
.articleList-center p a:hover{
	color: #449DBA;
}


.effect {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
}
/*.effect::before, .effect::after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	top: 50%;
	bottom: 0;
	left: 10px;
	right: 10px;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}*/
.arList-right-style{
	margin: 20px auto;
}
.arList-right-style a{
	font-size: 15px;
	color: #344157;	
}

.arList-right-style a:hover{
	color: #2C6578;
	text-decoration:underline;
}
.arList-right-style h4{
	font-size: 16px;
	width:298px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	color: #27303F;
	padding-left: 10px;
	border-bottom:1px #CCCCCC dotted;
}


.footer-inner{
	clear: both;
}
.copyright-2 {
	width: 90%;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	text-align: center;
	border-top: 1px solid #ccc;
	color: #666666;
}
.copyright-2 a{
	color: #000000;
}
